<!DOCTYPE html>
<html>
<head>
    <title>Customer List</title>
</head>
<body>
    <h2>All Customers</h2>
    <a href="{% url 'customer-create' %}">Add New Customer</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Segment</th>
            <th>Last Purchase</th>
            <th>Actions</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.segment }}</td>
            <td>{{ customer.last_purchase }}</td>
            <td>
                <a href="{% url 'customer-detail' customer.id %}">View</a> |
                <a href="{% url 'customer-edit' customer.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>